#technikumlogo {
    width: 262px;
    height: 140px;
}

table {
    width: 100%;
}

#beurteilungtbl ul {
    list-style-type: square
}

.tableWidthHalf {
    width: 50%;
}

.tableWidthThirty {
    width: 30%;
}

#betreuernote {
    display: inline-block;
    margin-left: 1.5%;
    text-transform: capitalize;
}

#sendKommissionMail {
    margin-top: 1em;
}

#editTitle {
    cursor: pointer;
    font-size: 1.2em;
}

.inline-inputfield {
    width: 90%;
    display: inline;
}

#confirmTitleEdit {
    cursor: pointer;
    font-size: 1.4em;
}
