#technikumlogo {
    width: 262px;
    height: 140px;
}

table {
    width: 100%;
}

#beurteilungtbl ul {
    list-style-type: square
}

.tableWidthHalf {
    width: 50%;
}

.tableWidthFourty {
    width: 40%;
}

.tableWidthTwenty {
    width: 20%;
}

#betreuernote {
    display: inline-block;
    margin-left: 1.5%;
    text-transform: capitalize;
}
